@import url(../css/responsive.css);

.container__header{
    display: flex;
    justify-content: space-between;
    height: 128px;
    align-items: center;
    margin: auto 30px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__button button{
    width: 160px;
    height: 56px;
    border: none;
    background-color: #5468E7;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin: 0 32px;
}

/*_______________MENU-CSS_______________*/

.body__menu{
    font-family: 'Roboto'; 
    background: url(../img/background-menu.svg) no-repeat;
    background-position: 25.1vw 0vh;
    background-color: #232340;   
}


.container__menu__header {
    display: flex;
    justify-content: space-between;
    height: 128px;
    align-items:center;
}

.menu__header{
    display:flex;
    align-items: center;
    margin: 0 30px;
    width: 320px;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-direction: column;
    margin: 115px 222px 84px 32px;
}

.menu__list li {
    margin-bottom: 40px;
}

.menu__main__item{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;    
}

.menu__item{
    color: #595976;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
}

.menu__final__item{
    color: #595976;
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
}

.footer__menu__list{
    display: flex;
    margin-left: 46px;
    margin-bottom: 80px;
}

.footer__menu__list li {
    margin-right: 32px;
}


/*_______________WORK-CSS_______________*/
body {
    font-family: 'Roboto', sans-serif;
}
.container__work{
    display: flex;
    flex-direction: column;
}

.pag__text{
    display: flex;
    color: #5468E7;
    font-weight: 600;
    font-size: 14px;
}

.number{
    margin-left: 32px;
    margin-right: 23px;
}

.container__work__text{
    margin: 24px 88px 56px 32px;
}

.container__work__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #232340;
    margin-bottom: 16px;
}

.container__work__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.container__work__card{
    padding-bottom: 37.44px;
}

.work__img1{
    background: #FFBA79;
    border-radius: 17.0667px;
    margin-left: 32.11px;
}

.work__img__button{
    background: #908CFF;
    border:none;
    border-radius: 14.2222px;
    color:#FFFFFF;
    Width:118.04px;
    Height:28.44px;
    font-weight: 600;
    font-size: 9.95556px;
    position: relative;
    bottom:50px;
    left: 56px;
}

.work__card__title1{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232340;
    margin-left: 32px;
}

.work__card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #232340;
    margin-left: 32px;
    margin-top: 24px;
}

.work__card__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606060;
    width: 228px;
    height: 84px;
    margin-top: 16px;
    margin-left: 31px;
}

.work__next{
    margin-top: 24px;
    margin-left: 32px;
}

.work__img2{
    background: #E8BEFF;
    border-radius: 17.0667px;
    margin-left: 32.11px;
}

.work__img3{
    background:  #FFCE79;
    border-radius: 17.0667px;
    margin-left: 32.11px;
}

.work__img4{
    background: #D1ECFD;
    border-radius: 17.0667px;
    margin-left: 32.11px;
}

.work__img5{
    background: #FFBA79;
    border-radius: 17.0667px;
    margin-left: 32.11px;
}


.button__works{
    background: #5468E7;
    border-radius: 8px;
    border: none;
    width: 313px;
    height: 46px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin: 13px 32px 48px 32px;
}


/*_______________JOB-CSS_______________*/

.body__job{
    background: url(../img/job/bg-job.svg) no-repeat;
    background-color: rgb(237, 229, 240);
    background-position: 47vw 0vh;
    font-family: 'Roboto', sans-serif; 
}

.container__job__text{
    margin: 24px 88px 56px 32px;
}

.container__job__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #232340;
    margin-bottom: 16px;
}

.container__job__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.job__card{
    background: #FFFFFF;
    border-radius: 24px;
    width: 311px;
    height: 175px;
    margin: auto 32px 16px 32px;
}

.job__card__title{
    font-weight: 700;
    font-size: 24px;
    color: #232340;
    padding-top: 45.51px;
    padding-left:40px;
}

.job__notification{
    position: relative;
    bottom: 30px;
    left: 240px;
}

.job__description{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606060;
    padding-left: 40px;
    position: relative;
    bottom:22px;
}

.job__description2{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606060;
    padding-left: 40px;
    position: relative;
    bottom:140px;

}

.job__next{
    padding-left:40px;
    position: relative;
    bottom: 10px;
}

.job__card:hover{
    background: #232340;
    border-radius: 24px;
    width: 311px;
    height: 175px;
    margin: auto 32px 16px 32px;
}

.job__card:hover .job__card__title{
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    
}

.job__card:hover .job__description{
    font-weight: 400;
    font-size: 12.8px;
    line-height: 23px;
    color: #8B8B8B;
    padding-left: 40px;
}

.job__card:hover .job__description2{
    font-weight: 400;
    font-size: 12.8px;
    line-height: 23px;
    color: #8B8B8B;
    padding-left: 40px;
    position: relative;
    bottom: 140px;
}

.job__next2{
    padding-left:40px;
    position: relative;
    bottom: 126px;
}

.job__image{
    position: relative;
    bottom: 57px;
    left: 243px;
}

.job__description3{
    position: relative;
    padding-left: 40px;
    top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #606060;
}

.job__next3{
    position: relative;
    top: 22px;
    padding-left: 40px;
}

.job__notification2{
    position: relative;
    bottom: 24px;
    left: 197px;;
}

/*_______________SERVICE-CSS_______________*/

.body__service{
    background-color: rgb(237, 229, 240);
    background-position: 47vw 0vh;
    font-family: 'Roboto', sans-serif; 
}

.arrow-hover{
    width: 46px;
    height: 46px;
}

.arrow-hover:hover{
    background: url(../img/bg.svg) no-repeat;

}

.card__service__img{
    margin-left: 48px;
    margin-right: 30px;
}

.card__service__text{
    font-weight: 600;
    font-size: 18px;
    color: #5468E7;
}

.card__service2__text{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;

}

.container__achievement{
    background: #FFFFFF;
}

.achievement__text{
    display:flex;
}


/*_______________ABOUT-CSS_______________*/

.body__about{
    font-family: 'Roboto', sans-serif;
}

.container__about{
    background: #232340;
}

.number__about{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ADADAD;
    margin:64px 24px 24px 32px;
}

.text__about{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top:64px;
    margin-bottom: 24px;
}

.checkbox__about{
    display: flex;
    margin-top: 49px;
}

.arrow-about{
    margin-left: 47px;
    margin-right: 57px;
    margin-bottom: 40px;
}

.arrow-about2{
    margin-bottom: 40px;
    margin-right: 98px;
   
}

.checkbox{
    border: none;
    margin-bottom: 40px;
    margin-right: 32px;
    background: #232340;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    width: 144px;
    height: 48px;
    padding-left:24px;
}


.container__about__title{
    width: 311px;
    height: 96px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin:40px 32px;
}

.container__about__description{
    width: 311px;
    height: 112px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8B8B8B;
    margin: 40px 32px;
}

.container__about__button{
    text-decoration: none;
    width: 160px;
    height: 56px;
    background: #5468E7;
    border-radius: 8px;
    margin-left: 32px;
    color: #FFFFFF;
    padding: 17px 40.5px;
}
